---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
    <main></main>
</Layout>
<style lang="sass">
    main
      background-color: var(--background-blanc)
      min-height: 100vh
</style>