---
import '../styles/main.sass';

import HeaderNavigation from '../components/HeaderNavigation.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="main-layout">
		<div class="main-layout__topbar"></div>
		<HeaderNavigation />
		<slot />
	</body>
</html>
<style lang="sass">
	@use '../styles/abstracts/mixins' as *

	body
		min-height: 100vh

	.main-layout
		@include addFont('Poppins')
		&__topbar
			background-color: var(--background-jaune-aurore)
			min-height: .8rem
</style>
